@font-face
	font-family: helve
	src: url(/fonts/helvetica_light.ttf) format("truetype")
@font-face
	font-family: arabian
	src: url('/fonts/arabian-webfont.eot')
	src: url('/fonts/arabian-webfont.eot?#iefix') format('embedded-opentype'),url('/fonts/arabian-webfont.woff') format('woff'),url('/fonts/arabian-webfont.ttf') format('truetype'),url('/fonts/arabian-webfont.svg#embedfont-1Medium') format('svg')
	font-weight: normal
	font-style: normal
.ipad-control
	//position: relative
	//min-height: 800px
	//background-color: #000000
	//width: 50px
	//left: 0px
	//top: 0px
.preloader
	position: fixed
	z-index: 100
	top: 0px
	left: 0px
	width: 100%
	//max-height: 1000px
	height: 100%
	background-color: #FFFFFF
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
.preloader-box
	text-align: center
	position: relative
	margin: auto
	margin-top: 25%
	height: 200px
	width: 200px
.bg1
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	//max-height: 1000px
	height: 100%
	background-color: #000000
	background: url(/images/bg_3.jpg) no-repeat center center scroll
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
.bg2
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	//max-height: 1000px
	height: 100%
	background-color: #000000
	background: url(/images/bg_3.jpg) no-repeat center center scroll
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
.top-banner
	position: absolute
	top: 0px
	left: 0px
	width: 100%
	height: 250px
	background: url(/images/top-banner.png) no-repeat top left scroll
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
.bottom-banner
	position: fixed
	bottom: 0px
	left: 0px
	width: 100%
	height: 250px
	background: url(/images/bottom-banner.png) no-repeat top left scroll
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
.logo
	background-image: url(/images/logo.png)
	top: 40px
	left: 20px
	position: absolute
	height: 629px
	width: 288px
	z-index: 20
.menu-container
	z-index: 10
	position: absolute
	top: 160px
	left: 310px
	height: 97px
	width: 500px
	background-image: url(/images/menu_bg.png)
	//background-color: #000000
	font-family: arabian
	font-weight: 20
	color: #fbf8f8
	text-align: center
.menu-container ul
	display: inline-block
	margin-top: 25px
	margin-left: 0px
	position: absolute
	list-style-type: none
	//letter-spacing: 0.075em
.menu-container li
	display: inline-block
	margin-top: 5px
	//line-height: 60px
	//position: absolute
	//margin-left: 50px
.menu-container ul a
	//opacity: 0
	//visibility: hidden
	font-size: 16px
	color: inherit
	text-decoration: none
	//line-height: 20px
.menu-hl
	z-index: -1
	display: none
	position: absolute
	padding-top: 15px
	margin-left: -20px
	margin-top: -8px
	background: rgba(255, 255, 255, 0.7)
	border-top-right-radius: 25px 25px
	border-top-left-radius: 25px 25px
	border: 1px solid #D1D3D4
	height: 0px
	width: 70px
	background-color: #FFFFFF
	background: url(/images/note.png) no-repeat center center scroll
.red-line
	display: inline
	position: relative
	float: left
	height: 2px
	width: 7px
	margin-top: 7px
	margin-right: 5px
	background-color: #931616
.sub-menu-box
	float: left
.sub-menu
	display: none
	list-style-type: none
	position: relative
	line-height: 20px
	font-size: 12px
.footer
	position: fixed
	//background-color: #FFFFFF
	height: auto
	width: 100%
	//top: 755px
	bottom: 0px
	left: 0px
	text-align: left
	color: black
	font-size: 13px
	background: url(/images/content_bg.png)
	background-repeat: repeat-y
	padding-left: 25px
	display: inline
.phone-num
	color: black
	font-size: 14px
.line
	width: 600px
	height: 1px
	background-color: #000000
	margin-bottom: 20px
.violent-button
	width: 132px
	height: 25px
	background-color: #4B166C
	color: white
	text-align: center
	padding-top: 10px
	
.violent-button:hover
	width: 132px
	height: 30px
	background-color: #CCCCCC
	color: black
html

#main-1-link,#main-2-link,#main-3-link,#main-4-link,#main-5-link,#main-6-link,#main-7-link,#main-8-link
	display: block
	padding-top: 5px
	height: 20px
	width: 80px
	margin-left: -25px
	//background: rgba(255, 255, 255, 1)
	//background-color: #696969
body
	background-color: #000000
h1
	font-family: arabian
	font-size: 30px
	color: black
	margin-left: 140px
	margin-top: 10px
	margin-bottom: 0px
	opacity: 1
	font-weight: 100
h2
	font-family: helve
	font-size: 16px
	color: #4B166C
	margin: 0px
	opacity: 1
p
	color: black
	opacity: 1
	//margin: 20px
	font-size: 13px
	margin-left: 10px
	margin-top: 5px
	//font-size: 12px
	letter-spacing: 0.075em
	font-family: helve
img
	//border: 2px solid white
td
	padding-left: 20px
.social-icon
	//position: absolute
	display: inline
	left: 40px
.photo-preload
	position: fixed
	top: 0px
	left: -2000px
	height: 1px
	width: 1px	
.content-container
	z-index: 9
	position: absolute
	top: 220px
	left: -1400px
	padding-bottom: 25px
	height: auto
	width: 700px
	font-size: 12px
	border-style: solid
	border-width: 0.7px
	border-color: #383733
	border-radius: 25px
	background: url(/images/content_bg.png)
	//background-repeat: repeat-y
	//background: rgba(255, 255, 255, 0.7)
	.content-box
		width: 600px
		margin-left: 50px
		margin-top: 10px
		.full-box
			width: 600px
			float: left
		.half-box
			position: relative
			float: left
			width: 280px
			margin-left: 10px
		.big-box
			position: relative
			float: left
			width: 390px
			margin-left: 10px
		.small-box
			position: relative
			float: left
			width: 180px
			margin-left: 10px
.close-content
	//width: 50px
	height: 25px
	background-color: #931616
	float: right
	color: white
	font-family: arabian
	font-size: 15px
	width: 75px
	text-align: center
	padding-top: 3px

.close-content:hover
	background-color: white
	color: #931616
.gallery-container
	text-align: center
	width: 500px
.icon
	border: 0 solid white
.normal-list
	color: #CCCCCC
	font-family: arabian
	line-height: 25px
.content-text 
	background: rgba(255, 255, 255, 0.6)
	height: auto
	-moz-border-radius: 5px 25px 5px 25px
	border-radius: 5px 25px 5px 25px
	padding: 20px
	padding-bottom: 40px