- @sitename


!!! 5
%html{html_attrs}
  %head
    %title= @title
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.color.js"}
    %script{:type => "text/javascript", :src => "javascripts/menu-control.js"}
    
    %script{:src => "javascripts/prototype.js", :type => "text/javascript"}
    %script{:src => "javascripts/scriptaculous.js?load=effects,builder", :type => "text/javascript"}
    %script{:src => "javascripts/lightbox.js", :type => "text/javascript"}
    %link{:href => "stylesheets/lightbox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/

  %body{:onorientationchange =>"ipadFunc();"}
  .bg2
  .bg1
  .logo
  .top-banner
  //.bottom-banner
  .left-side-bar
  .menu-container
    %ul
      %li
        %a{:href => "#", :id => "main-1-link"} Home
        .menu-hl
          //%img{:height => "38", :src => "/images/note.png", :width => "16"}
      %li
        %a{:href => "#", :id => "main-2-link"} Event
        .menu-hl
          //%img{:height => "38", :src => "/images/note.png", :width => "16"}
      %li
        %a{:href => "#", :id => "main-7-link"} Donation
        .menu-hl
      %li
        %a{:href => "#", :id => "main-3-link"} Game
        .menu-hl
          //%img{:height => "38", :src => "/images/note.png", :width => "16"}
      %li
        %a{:href => "#", :id => "main-4-link"} Gallery
        .menu-hl
          //%img{:height => "38", :src => "/images/note.png", :width => "16"}
      %li
        %a{:href => "#", :id => "main-5-link"} Blog
        .menu-hl
          //%img{:height => "38", :src => "/images/note.png", :width => "16"}
      %li
        %a{:href => "#", :id => "main-6-link"} Contact
        .menu-hl
          //%img{:height => "38", :src => "/images/note.png", :width => "16"}
  .content-container#homePage
    .content-box
      %h1 ABOUT GAANA PEHCHAANA
      .line
      .full-box
        %h2 Missions
        %p Gaana Pehchaana - A New Way to Enjoy Hindi Film Music is a not-for-profit organization dedicated to promotion and appreciation of Hindi Film Music from India.  It is a unique and fun way of promoting Hindi Film Music through a game show format, live performances, on-line games, blogs and discussion forums.
        %h2 Hindi Film Music - A National Treasure
        %p Hindi films have delighted audiences and listeners with their music from as far back as the 1930's all the way to the 2010's and are truly a national treasure! The music from the films has consistently set a higher standard of excellence and entertainment than the films themselves, and often outlasts them in popularity by decades. Yet, the people behind these songs - composers, singers, lyricists and instrumentalists – don't get anywhere near the recognition that the stars acting in the films do.  Gaana Pehchaana is a small effort to pay tribute to all these artists and their creations which have enriched the lives of millions of people over many decades.
        %h2 Gaana Pehchaana Features
        %p The primary vehicle for Gaana Pehchaana’s tribute to Hindi Film Music is a live event that features fun and competitive game formats involving clips from the songs.  These events pay tribute to the geniuses that created these gems of music and lyrics, highlight interesting facts about the process of creating these masterpieces, and often include live performances.  A typical event features clips from nearly 100 songs, often accompanied in a sing-along by the audience!  The audience often goes home humming their favorite songs and, we hope, appreciative of the enjoyment and enrichment that Hindi Film Music has brought to all our lives!
        %p Gaana Pehchaana also features a blog with articles reminding readers of the creative gems from Hindi Film Music, old and new.  Future plans include on-line games, critical reviews of new albums and recommendations on songs to listen to and add to listeners’ collections.
        %p While a long way from actually raising any funds, any such funds raised from the efforts of Gaana Pehchaana will be entirely donated to causes benefiting the artists who created Hindi Film Music over the ages, and to programs that foster the continued appreciation of these national treasures.  
        %p Gaana Pehchaana is also available to anchor fund-raising events for other non-profit organizations.
      .full-box
        %h2 Connect with us
        %br
        .social-icon
          %a{:href => "http://www.facebook.com/felix55houston", :target => "_blank"}
            %img{:height => "40", :src => "/images/facebook_logo.png", :width => "40", :border => "0", :class => "icon"}
          %a{:href => "http://twitter.com/Felix55houston", :target => "_blank"}
            %img{:height => "40", :src => "/images/twitter_logo.png", :width => "40", :border => "0", :class => "icon"}
  .content-container#eventPage
    .content-box
      %h1 LIVE EVENTS
      .line
      .full-box
        %p During a typical live event, called GP Night, different game formats are used to highlight Hindi Film Music and organize fun games that can be played by whole audiences or a few teams.  Click on the video link below to see a quick intro into the GP Night format and live footage.
        %p Here are some more details on the formats used in recent GP events.
      .half-box
        %h2 Teek Taak Ho
        %p This game introduces the Gaana Pehchaana game concept and warms up the audience.  It uses the familiar Tic-Tac-Toe format shown below. The audience is divided into two teams, the X's and the O's.  Clicking on the music note in each square plays a song clip.  Correctly recognizing the clip places the team's symbol in that square.   The objective of this game is the same is that of a Tic-Tac-Toe game - a straight line connecting three of the teams symbols.
      .half-box
        %br
        %br
        %br
        %br
        %img{:height => "140", :src => "/images/game1.jpg", :width => "280"} 
        %br
        %br
        %br
        %br
        %br
        %br 
      .half-box
        %h2 Raaga Malika
        %p The picture below shows the ''game board'' for Raaga Malika.  Music clips are organized into themes such as ''Dil Se'' (songs with Dil in the answer),  or ''Ek Musafir Ek Hasina'' (songs with Ek in the answer).  Clicking on each musical note plays a song clip from that theme. Answers are selected by the audience from a multiple choice list using a keypad given to each team.  The clips get more difficult and the points are higher as we go up the musical scale from Sa to Pa.  The faster the answer, the more the points.  Wrong answers get negative points.  The team with the most points after all songs are cleared is declared the winner.
      .half-box
        %br
        %br
        %br
        %br
        %br
        %img{:height => "140", :src => "/images/game2.jpg", :width => "280"} 
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br 
      .half-box
        %h2 Other games
        %p
          Other game formats include 
          %b Speed GP 
          where the audience listens to 8 clips in quick succession and determines which one they did not hear from the list given to them.
          %b Kaun Banega GP Ustad 
          is a format loosely based on a popular TV show, with the title of GP Ustaad bestowed on the team member or team that reaches the pinnacle by correctly identifying all of the song clips.
      .half-box
        %br
        %br
        %br
        %br
        %img{:height => "140", :src => "/images/game3.jpg", :width => "280"} 
        %br
        %br
        %br
        %br
  .content-container#gamePage
    .content-box
      %h1 ONLINE GAME
      .line
      .full-box
        %h2 Coming Soon...
        %p Stay tuned for the Online Version of Gaana Pehchaana Games
  .content-container#galleryPage
    .content-box
      %h1 GALLERY
      .line
      .full-box{:style => "margin-left: 150px; width: 460px;"}
        %a{:href => "/images/pics/1.jpg", :rel => "lightbox[gallery]"}
          %img{:height => "160", :src => "/images/pics/1_small.jpg", :width => "60"} 
        %a{:href => "/images/pics/2.jpg", :rel => "lightbox[gallery]"}
          %img{:height => "160", :src => "/images/pics/2_small.jpg", :width => "60"}
        %a{:href => "/images/pics/3.jpg", :rel => "lightbox[gallery]"}
          %img{:height => "160", :src => "/images/pics/3_small.jpg", :width => "60"}
        %a{:href => "/images/pics/4.jpg", :rel => "lightbox[gallery]"}
          %img{:height => "160", :src => "/images/pics/4_small.jpg", :width => "60"} 
        %a{:href => "/images/pics/5.jpg", :rel => "lightbox[gallery]"}
          %img{:height => "160", :src => "/images/pics/5_small.jpg", :width => "60"}
        %a{:href => "/images/pics/6.jpg", :rel => "lightbox[gallery]"}
          %img{:height => "160", :src => "/images/pics/6_small.jpg", :width => "60"}
        %a{:href => "/images/pics/7.jpg", :rel => "lightbox[gallery]"}
          %img{:height => "160", :src => "/images/pics/7_small.jpg", :width => "60"}
        %a{:href => "/images/pics/8.jpg", :rel => "lightbox[gallery]"}
          %img{:height => "160", :src => "/images/pics/8_small.jpg", :width => "60"}
        %a{:href => "/images/pics/9.jpg", :rel => "lightbox[gallery]"}
          %img{:height => "160", :src => "/images/pics/9_small.jpg", :width => "60"}
        %a{:href => "/images/pics/10.jpg", :rel => "lightbox[gallery]"}
          %img{:height => "160", :src => "/images/pics/10_small.jpg", :width => "60"}
        %a{:href => "/images/pics/11.jpg", :rel => "lightbox[gallery]"}
          %img{:height => "160", :src => "/images/pics/11_small.jpg", :width => "60"}
        %a{:href => "/images/pics/12.jpg", :rel => "lightbox[gallery]"}
          %img{:height => "160", :src => "/images/pics/12_small.jpg", :width => "60"}
        %a{:href => "/images/pics/13.jpg", :rel => "lightbox[gallery]"}
          %img{:height => "160", :src => "/images/pics/13_small.jpg", :width => "60"}
        %a{:href => "/images/pics/14.jpg", :rel => "lightbox[gallery]"}
          %img{:height => "160", :src => "/images/pics/14_small.jpg", :width => "60"}
  .content-container#blogPage
    .content-box
      %h1 BLOGS
      .line
      .full-box
        %h2 LATA MANGESHKAR & MADAN MOHAN - Songs with Healing Powers!
        %p Did you know that 9 out of 10 doctors prescribe listening to songs composed by Madan Mohan and sung by Lata Mangeshkar as the cure for many ills?  And that 6 of these doctors claim these even cure cancer?  These genius artistes had so many hits together, each one competing with the other to cure our ills!
        %p So, try a course of these 9 prescriptions. And don’t worry, I checked, this is coved by your HMO.  All you need is a 99 cent co-pay to buy these songs at your local Itunes pharmacy.
        %p For minor ailments, you can start with 3 over-the-counter drugs – Hai Tere Saath Meri Wafa,  Lag Ja Gale Se and Mera Saya Saath Hoga with their lilting, uplifting themes.  And, no, the OTC designation is not meant in any way to belittle their curative powers .. these are simple, melodious pieces of genius!! The sunshine in Lataji’s voice bringing out all the nuances of Madan Mohanji’s inspired compositions.  There, didn’t those aches stop miraculously?
        %p And for those symptoms that continue to persist and require a visit to your friendly physician, there’s the Dastak course of treatment.  Start by listening to Lataji sing Main Ri Mai Kase Kahoon , paying special attention to the Haaan, Mayi ri that Lata ji interjects towards the end of each antara.  And as if one gorgeous song in the movie wasn’t enough, here comes Baiyan Na Daro to make sure you are fully nursed back to health.  Listen closely to the subtleties as Lataji sings the  Mohe Chodo Haye segment.  The full Dastak course of treatment of course includes Madan Mohanji singing Mayiri in his own haunting raw voice! I admit it – I have OD’d on this last drug many times.
        %p If your symptoms still persist, you have a serious case of HFM immune disorder (HFM: Hindi Film Music).  Time to roll out the serious ghazal-based drugs.  Let’s start with the old time-tested Rasm-e-ulfat ko nibayen  - the quintessential Lata-Madan ghazal.  This is to be followed by the complex flavors of Hai Isi Mein Pyaar Ki Aabroo.  Mujhe gham bhi unka azeez hai, ke unhi ki dee huyi cheez hai – high quality curative ingredients provided by Raja Mehdi Ali Khan!  And no known side effects!
        %p Still not cured? Time to put you on the slow, aching rendition of Aaj Socha To Aanso Bar Aaye. Listen as the haunting Hanste Zakhm signature tunes give way to the soul satisfying  ghazal like melodies. Then wait expectantly as Lataji’s gorgeous voice starts with Har Kadam Par and the other antaras.  Don’t worry about the tears – that’s the sign that you are cured!  All your ailments are now replaced by a long-lasting meeti dard somewhere deep inside you!
        %p Still not cured? Time to put you on the slow, aching rendition of Aaj Socha To Aanso Bar Aaye. Listen as the haunting Hanste Zakhm signature tunes give way to the soul satisfying  ghazal like melodies. Then wait expectantly as Lataji’s gorgeous voice starts with Har Kadam Par and the other antaras.  Don’t worry about the tears – that’s the sign that you are cured!  All your ailments are now replaced by a long-lasting meeti dard somewhere deep inside you!
        %p 
          If the symptoms re-appear, just start at the top and do the full 9-course treatment all over!  By the way, several of these drugs are available in a digitally enhanced format at the Classics Revival pharmacy, the pet project of none other than Madan Mohan’s son, Sanjeev Kohli.  He also maintains a web site in honor of his father:
          %a{:href => " http://www.madanmohan.in/html/the_legend/snapshot/snapshot.html", :target => "_blank"} http://www.madanmohan.in/html/the_legend/snapshot/snapshot.html
          Be sure to visit and pay homage.
  .content-container#contactPage
    .content-box
      %h1 CONTACTS
      .line
      //.small-box{:style => "border-right: 1px solid black;"}
      %h2
        Phone
        %p 713-999-9999
      %h2
        Email
        %p ram@gaanapehchaana.com
      //.big-box
      .line
      %p Alternative, send us a quick message using this contact form:
      %iframe{:allowtransparency => "true", :frameborder => "0", :height => "417", :scrolling => "no", :src => "https://media3creative.wufoo.com/embed/w7w8k1/", :style => "width:100%;border:none"}
  .content-container#donationPage
    .content-box
      %h1 DONATION FOR GAME NIGHT
      .line
      %img{:height => "400", :src => "/images/donation_pc.jpg", :width => "580"}


  .footer
    //%p 5510 MORNINGSIDE SUITE 120 | HOUSTON, TEXAS 7705 | 1-800-2934 | ram@gaana.com
  .ipad-control
  .photo-preload
    %img{:height => "40", :src => "/images/bg_1.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_2.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_4.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_5.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_3.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_4.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/wine_bottles.jpg", :width => "40"}  
    %img{:height => "40", :src => "/images/cocktails.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/reservation.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_5.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/happy_hour.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_6.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/contact.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_3.jpg", :width => "40"}              
    %img{:height => "40", :src => "/images/bg_2.jpg", :width => "40"}
